{% extends "base/bare.html" %}

{% block head %}
{{ block.super }}
<link href="http://karpenoktem.nl/~felix/kninfra/kn/base/templates/base/common.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block wrapper %}
<div id="logo"><img src="http://www.karpenoktem.nl/~felix/knsite/img/logo_leden.png" /></div>
{{ block.super }}
{% endblock %}

{% block main %}
{{ block.super }}
<ul id="menu">
	{% block menu %}
	<li><a href="/">Terug</a></li>
	<li><a href="{% url logout %}">Uitloggen</a></li>
	{% endblock %}
</ul>
{% endblock %}
